In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
credit_data=pd.read_csv("C:/Users/vishw/Downloads/archive (2)/creditcard.csv")

In [5]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [10]:
normal=credit_data[credit_data.Class==0]
fraud=credit_data[credit_data.Class==1]

In [11]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

Undersampling

In [13]:
normal_sample=normal.sample(n=492)

In [14]:
new_data=pd.concat([normal_sample,fraud], axis=0)

In [15]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
256933,157925.0,2.037984,-0.107904,-2.213474,0.284251,0.861886,0.105492,0.015262,-0.026675,0.562015,...,0.053233,0.363661,-0.143960,-0.309170,0.325452,0.733227,-0.067428,-0.053798,28.75,0
183,118.0,1.431053,-0.648101,-0.331664,-1.207383,-0.012786,0.704440,-0.732126,0.183139,-0.878334,...,0.112749,0.222296,-0.244591,-1.688158,0.609778,-0.088366,0.010438,-0.014499,20.00,0
72210,54613.0,-3.769850,-2.159941,0.859493,0.168820,-0.254922,-0.822941,-1.048387,0.909578,-1.671535,...,-0.124651,-0.455624,-1.005561,0.053797,0.222807,-0.398460,0.264434,-0.851823,230.00,0
133514,80420.0,0.904368,-1.410979,0.274018,-1.418802,-1.327454,-0.426693,-0.340418,-0.184900,0.328995,...,-0.179470,-0.185346,-0.214590,0.124521,0.482403,-0.674574,0.087114,0.071372,229.82,0
78131,57384.0,1.136626,0.058172,0.675849,1.344379,-0.596651,-0.539866,-0.037478,-0.062160,0.551031,...,-0.256420,-0.646321,0.019575,0.361469,0.473476,-0.546778,0.031938,0.032443,36.88,0

In [16]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [17]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97626.406504,-0.042814,-0.009217,-0.035618,0.052215,0.092869,-0.067355,-0.040381,0.112990,-0.011830,...,-0.012849,0.003240,-0.003279,-0.016320,-0.048048,-0.010750,0.017727,-0.007853,0.017654,81.383963
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
X=new_data.drop('Class', axis=1)  #features and target
y=new_data['Class']

In [20]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=101)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Logistic Regression

In [26]:
model=LogisticRegression()
model.fit(X_train, y_train)

X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)
print('Accuracy on training data:' ,training_data_accuracy)

Accuracy on training data: 0.9135959339263025

In [27]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)
print('Accuracy score on test data:', test_data_accuracy)

Accuracy score on test data: 0.9137055837563451

In [28]:
from sklearn.metrics import classification_report
report=classification_report(y_train,X_train_prediction)
print("classification Report:")
print(report)

classification Report:
              precision    recall  f1-score   support

           0       0.88      0.95      0.92       391
           1       0.95      0.87      0.91       396

    accuracy                           0.91       787
   macro avg       0.92      0.91      0.91       787
weighted avg       0.92      0.91      0.91       787